server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sld_diy?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: sld
    password: sld
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: auto
